.tag-cloud-tags {
  margin: 10px 0;

  a {
    display: inline-block;
    position: relative;
    margin: 5px 10px;
    word-wrap: break-word;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;

    &:active,
    &:focus,
    &:hover {
      color: $global-link-hover-color;
      transform: scale(1.1);
    }

    small {
      color: $font-secondary-color;
    }
  }
}
