@mixin light-theme {
  --theme-name: "light";

  --background-color: #fff;

  --font-color: #161209;
  --font-secondary-color: #a9a9b3;

  --navbar-active-color: #161209;

  --global-link-color: #161209;
  --global-link-hover-color: #2d96bd;

  --post-link-color: #2d96bd;
  --post-link-hover-color: #ef3982;

  --pagination-link-color: #2d96bd;
  --pagination-link-active-color: #000;

  --border-color: #dcdcdc;
}

@media (prefers-color-scheme: light) {
  :root {
    @include light-theme;
  }
}
