/** Font **/

/* Fira Code */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

/* Noto Serif SC */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    height: 40px;
    background-color: #eee;
    border-radius: 16px;

    &:hover {
      background-color: #ddd;
    }
  }
}

::selection {
  background: #262a30;
  color: #fff;
}

html {
  font-family: "Noto Serif", "Noto Serif CJK SC", "Noto Serif CJK",
    "Source Han Serif SC", "Source Han Serif", source-han-serif-sc,
    "Noto Serif SC", serif;
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 2em;
  background-color: $background-color;
  color: $font-color;

  &:before {
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.05;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
  }
}

a {
  color: $global-link-color;
  text-decoration: none;
  transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease,
    opacity 0.2s ease;

  &:hover {
    color: $global-link-hover-color;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease,
      opacity 0.2s ease;
  }
}

blockquote {
  font-size: 1rem;
  font-family: var(--italic-font);
  font-weight: 400;
  color: #999;
  padding: 0 28px;
  line-height: 2;
  margin: 0px;
  // font-style: italic;
  font-weight: lighter;
  border-color: $border-color;

  &:after {
    // content: "#blockquote"attr(cite);
    display: block;
    text-align: right;
    font-size: 0.875em;
    color: #999;
  }
}
