<style type="text/css">
    @import url('//cdn.jsdelivr.net/npm/prismjs@latest/themes/prism-solarizedlight.min.css');
    @import url('//cdn.jsdelivr.net/npm/prismjs@latest/themes/prism-tomorrow.min.css') screen and (prefers-color-scheme: dark);
</style>

<script src="https://cdn.jsdelivr.net/npm/prismjs@latest/components/prism-core.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@latest/plugins/autoloader/prism-autoloader.min.js"
    data-autoloader-path="https://cdn.jsdelivr.net/npm/prismjs@latest/components/"></script>