<style type="text/css">
    @import url('//cdnjs.loli.net/ajax/libs/prism/1.20.0/themes/prism-solarizedlight.min.css');
    @import url('//cdnjs.loli.net/ajax/libs/prism/1.20.0/themes/prism-tomorrow.min.css') screen and (prefers-color-scheme: dark);
</style>

<script src="https://cdnjs.loli.net/ajax/libs/prism/1.20.0/components/prism-core.min.js"></script>
<script src="https://cdnjs.loli.net/ajax/libs/prism/1.20.0/plugins/autoloader/prism-autoloader.min.js"
    data-autoloader-path="https://cdnjs.loli.net/ajax/libs/prism/1.20.0/components/"></script>